/*重置row*/
.row{
	margin:0;
}
label{
	text-align:center;
}
.x-orange span{
	color:#fff;
}
/*台颜色*/
.green{
	background:#00CC66;
}
.red{
	background:#CC3300;
}
.yellow{
	background:#FFFF33;
}
.blue{
	background:#3366FF;
}
.gray{
	background:#ccc;
}
.main-ul li{
	border:1px solid #ccc;
	box-shadow:0px 0px 8px 2px #acacac;
	/*background:#fff;*/
	margin:2%;
}


.main-ul li.active{
	background:#1ECAD3;
}
.main-ul li.ccc{
	background:#ccc;
}
/*台颜色结束*/
/*一行五列*/
.col-xs-2dot4 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.col-xs-2dot4 {
float: left;
}
.col-xs-2dot4 {
width: 20%;
}
.col-xs-pull-2dot4 {
right: 20%;
}
.col-xs-push-2dot4 {
left: 20%;
}
.col-xs-offset-2dot4 {
margin-left: 20%;
}


/*一行五列结束*/
/*一行7列*/
.col-xs-1dot7 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.col-xs-1dot7 {
float: left;
}
.col-xs-1dot7{
width: 13%;
}
.col-xs-pull-1dot7 {
right: 13%;
}
.col-xs-push-1dot7 {
left: 13;
}
.col-xs-offset-1dot7 {
margin-left: 13%;
}
/*一行7列结束*/
/*一行列结束*/
.col-xs-5dot2 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.col-xs-5dot2 {
float: left;
}
.col-xs-5dot2{
width: 46.5%;
}
/**/
.clearfix:after{
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
	height:0;
}
.clearfix{
	*zoom:1;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.ml20{
	margin-left:20px;
}
.dib{
	display:inline-block;
}
.w100{
	width:100%;
}
.w100 .col .btn{
	width:100%;	
}
.w100 .col{
	padding:0 10px;
}
h3{
	padding:0;
	margin:0;
}
p{
	padding:0;
	margin:0;
}
dl{
	margin:0;
	padding:0;
}
.x-main-color{
	color:#fff;
	background:#2BB8AA;
	border-color:#25AA9D;
}
.x-main-color:active ,.x-main-color.active{
	color:#fff;
	border-color:#5FB26F;
	background:#69C17A;
}
.black{
	color:black;
}
.blue{
	color:blue;
}
.yellow{
	color:yellow;
}
.red{
	color:red;
}
.display-box{
	display:box;
	display:-webkit-box;
	display:-moz-box;
}
img.subtract,img.add{
	width:25px;
	height:25px;
}
/*index*/
.menu-wrap{
	background:#2BB8AA;
	overflow:hidden;
}
.menu-con{
	overflow:auto;
	padding:8px 5px 0 5px;
}
.menu-con ul{
	/*width:1000%;*/
	margin-bottom:0;
	width:100%;
}
.menu-con ul li{
	float:left;
	height:30px;
	width:110px;
	line-height:30px;
	color:#fff;	
	margin-right:10px;
	border-radius:3px;
	border:none;
	text-align:center;
}
.menu-con ul li.active{
	background:rgba(59, 191, 6, 0.87);
}
.menu-con ul li .x-output{
	color:#fff;
}
/*
.bottom-left,.bottom-right{
	box-flex:1.0;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
	padding:7px;
}
*/
/*
.bottom-left .btn{
	background:#BDC3C2;
	border:none;
}
*/
.btn-style{
	background:rgb(43, 184, 170);
	color:#fff;
	border:rgb(43, 184, 170);
}
.color-style{
	color:#18AEB6;
}
.delete-color{
	color:red;
}
.bottom-left .btn span{
	color:#fff;
}
.bottom-right .btn{
	background:#2BB8AA;
	border:none;
}
.bottom-right .btn span{
	color:#fff;
}
.bottom-wrap .bottom-left .btn-active{
	background:#2BB8AA;
}
.bottom-wrap{
	/*background:#E6E2E2;*/
	padding:0;
	line-height:48px;
}
.main-con .row{
	margin:0;
}
.main-con .row .col{
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
}
.index .bottom-left{
	width:30%;
	text-align:center;
}
/*
.table-con{
	border:1px solid #ccc;
	box-shadow:0px 0px 8px 2px #acacac;
	margin:4%;
}
*/
/*menu*/
.home-wrap{
	/*position:absolute;*/
}
.home{
	display:box !important;
	display:-webkit-box !important;
	display:-moz-box !important;
	overflow: hidden !important;
	background:rgba(231, 255, 248, 0.58) !important;
}
.home .left-menu{
	height:100%;
	min-width:100px;
	width:30%;
	background:rgba(231, 255, 248, 0.58) !important;
	overflow:auto;
}
.home .left-menu li div.count{
	position:absolute;
	width:20px;
	height:20px;
	line-height:20px;
	border-radius:10px;
	border:1px dashed #fff;
	padding:0;
	top:5px;
	right:5px;
	color:#FF0000;
}
.home .left-menu li{
	border-radius:3px;
	background:#2BB8AA;
	color:#fff;
	padding:8px 0px;
	display:block;
	min-width:100px;
	width:95%;
	margin:5px auto;
	text-align:center;
	position:relative;
}
.home .left-menu li.active{
	background:#39BE1B;
}
.home .left-menu li .x-output{
	color:#fff;
	font-size:14px;
}
.home .left-menu li.active{
	background:#69C17A;
}
.home .right-main{
	height:100%;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
	box-flex:1.0;
	overflow:auto;
}
.home .right-main  ul{
	border-bottom:1px solid #ccc;
	padding:10px;
}
.home .right-main ul li ul li{
	margin-top:5px;
}
.home .right-main .x-list-template{
	border:none;
}
.home .right-main ul li p,.collect ul li p{
	margin:0;
	display:inline-block;
}
.menu-bottom-wrap{
	display:box;
	display:-webkit-box;
	display:-moz-box;
	background:#e6e6e6;
}
.menu-bottom-wrap .menu-bottom-left,.menu-bottom-wrap .menu-bottom-right{
	box-flex:1.0;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
}
.menu-bottom-wrap .menu-bottom-right{
	text-align:right;
	line-height:48px;
	padding-right:10px;
}
.menu-bottom-wrap .menu-bottom-left{
	line-height:48px;
	padding-left:10px;
}

.menu-bottom-wrap .menu-bottom-left span b{
	padding:0 8px;
}
.x-titlebar{
	background:#2BB8AA;
	color:#fff;
}
.pop-container{
	background:#fff;
	box-shadow: 0 0px 2px 2px #B9B9B9;
    border-radius: 5px;
}

.status-title .status{
	float:left;
}
.status-title .price{
	float:right:
}
.color-price{
	color:red;
}
.con-top dl,.con-main dl dd{
	display:box;
	display:-webkit-box;
	display:-moz-box;
	border-bottom:1px solid #ccc;
}
/*
.con-main dt{
	box-flex:2.0;
	-webkit-box-flex:2.0;
	-moz-box-flex:2.0;
}
*/
/*
.con-main dl dt{
	border-bottom:1px solid #acacac;
}
.con-main dd div:nth-child(1){
	box-flex:2.0;
	-webkit-box-flex:2.0;
	-moz-box-flex:2.0;
}
.con-main dd div:nth-child(2){
	box-flex:1.0;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
	border-left:1px solid #acacac;
}
.con-top dl dt:nth-child(1){
	box-flex:2.0;
	-webkit-box-flex:2.0;
	-moz-box-flex:2.0;
}
.con-top dl dt:nth-child(2){
	box-flex:1.0;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
	border-left:1px solid #acacac;
}
.con-top .top-left p:nth-child(1){
	border-bottom:1px solid #acacac;
}
.con-top .top-left p:nth-child(2) span{
	display:inline-block;
	width:32%;
	border-right:1px solid #acacac;
}
.con-top .top-left p:nth-child(2) span:nth-child(3){
	border:0;
}
*/
/*台号*/
.main-con ul li{
	display:block;
	float:left;
	width:21%;
	/*margin:2%;*/
}
.main-con ul li .x-output{
	text-align:center;
}
/*详情弹框*/
.bottom-wrap{
	display:box;
	display:-webkit-box;
	display:-moz-box;
	padding:0 10px;
}

.bottom-wrap .pop-bottom-left{
	box-flex:2.0;
	-webkit-box-flex:2.0;
	-moz-box-flex:2.0;
}
.bottom-wrap .pop-bottom-right{
	box-flex:1.0;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
}
.poop-bottom-right .btn{
	margin-left:5px;
}
.con-top ul{
	border-bottom:1px solid #acacac;
}
.con-top p,.con-con p{
	text-align:center;
}
.con-top ul,.con-con ul{
	margin:0;
}
.con-con .row{
	margin:0;
}
.con-con .row .col{
	padding:0;
}
.con-con .row .col-xs-1dot7{
	text-align:center;
}
.con-con ul li{
	padding:8px 5px;
	border-bottom:1px solid #acacac;
}
.con-con ul li.active{
	color: rgb(255, 255, 255);
    border-color: rgb(95, 178, 111);
    background: rgb(105, 193, 122);
}
.pop-con-title{
	padding:6px 0;
	border-bottom:1px solid #acacac;
	border-top:1px solid #acacac;
}
.pop-con-title span{
	font-weight:bold;
}
.order-info-title span{
	font-weight:bold;
}
.pop-con-title .col{
	text-align:center;
}
.pop-menu-btn{
	width:100%;
	position: absolute;
    bottom: 0;
    background-color: #E8E8E8;
    z-index:100;
    border-radius:4px;
}
.pop-menuSub-btn{
	width:100%;
	position: absolute;
    bottom: 0px;
    background-color: #E8E8E8;
    display:none;
    z-index:111;
    border-radius:4px;
}
.pop-menuSub-btn span{
	padding: 8px 0;
    text-align: center;
    background: #32C152;
    color: #fff;
    border-radius: 3px;
    margin: 5px;
    display: block;
}
.p30{
	padding-left:20px;
	padding-right:20px;
}
.pop-menuSub-btn span.back{
	background: rgb(229, 100, 42);
}
.x-popOver-content{
	background:#fff;
}
.bottom-btn-wrap .col{
	text-align:center;
}
.bottom-btn-wrap .col .btn{
	width:80%;
	border:none;
	color:#fff;
}
.pop-menuSub-btn{
	/*display:none;*/
}
.pop-menuSub-btn .row{
	margin:0;
}
.pop-menuSub-btn .row .col{
	padding:0;
}
/*
.con-con ul li div,.con-top ul li div{
	display:inline-block;
}

.con-con ul li div:nth-child(1),.con-top ul li div:nth-child(1){
	border-right:1px solid #ccc;
	width:68%;
}
.con-con ul li div:nth-child(2),.con-top ul li div:nth-child(2){
	width:29%;
}
.pop-con{
	
}

.pop-con .no-send{
	padding:8px 0;
	color:red;
	border-bottom:1px solid #acacac;
}
.pop-con .send{
	padding:8px 0;
	color:red;
	border-bottom:1px solid #acacac;
}
.pop-con .no-send,.pop-con .send,.con-con ul li div:nth-child(1) p:nth-child(2){
	display:box;
	display:-webkit-box;
	display:-moz-box;
}
.pop-con .no-send span,.pop-con .send span,.con-con ul li div:nth-child(1) p:nth-child(2) span{
	box-flex:1.0;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
	display:block;
}
*/
.con-top-left p span{
	display:inline-block;
	width:32%;
}
.con-top-left p:nth-child(1){
	border-bottom:1px solid #acacac;
}
.con-top-left p span:nth-child(1),.con-top-left p span:nth-child(2){
	border-right:1px solid #acacac;
}
/*要求弹框*/
.order-info-title{
	text-align:center;
}
.edit-add-bottom{
	text-align:right;
}
.edit-add-con .x-panel-top div:nth-child(1){
	display:box;
	display:-webkit-box;
	display:-moz-box;
	padding:5px 2%;
}
.edit-add-wrap{
	background:#fff;
	box-shadow: 0 0px 2px 2px #B9B9B9;
    border-radius: 5px;
}
.edit-add{
	/*background:#fff;*/
	padding:5px;
}
.edit-add-con .x-panel-top div:nth-child(1) p{
	box-flex:1.0;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
	text-align:center;
}
.edit-add-con .x-panel-top div:nth-child(2){
	display:box;
	display:-webkit-box;
	display:-moz-box;
	width:98%;
	margin:0 auto;
}
.ed-btn-wrap{
	width:20%;
}
.ed-btn-wrap ul{
	width:100%;
	margin:0;
}
.send-order-btn,.send-order-btn:hover,.menu-bottom-right .btn{
.send-order-btn,.send-order-btn:hover,.menu-bottom-left .btn{
	background:#2BB8AA;
	border:none;
	color:#fff;
}
.send-order-btn{
	padding-left:30px;
	padding-right:30px;
}
.close-btn,.close-btn:hover{
	background:#E5642A;
	border:none;
	color:#fff;
	padding-left:30px;
	padding-right:30px;
}
.ed-btn-wrap ul li{
	width:100%;
	text-align:center;
	margin:5px 0;
}
.ed-btn-wrap .delete{
	border:none;
	color:#fff;
	background:#F35526;
}
.ed-btn-wrap .clear{
	background:#F5B732;
	color:#fff;
	border:none;
}
.edit-container-title .btn{
	color:#fff;
	border:none;
	background:#2BB8AA;
}
.edit-container-title .active{
	background:#39BE1B;
}
.ed-con-con{
	box-flex:1.0;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
	height:114px;
	overflow:auto;
	border:1px solid #ccc;
	border-radius:4px;
	background:#fff;
}
.edit-add-con  div.select-con-wrap{
	border:1px solid #ccc;
	border-radius:4px;
	height:200px;
	background:#fff;
	width:96%;
	margin:0 auto;
	overflow:auto;
	display:block;
}
.edit-add-con  textarea.select-con-wrap{
	border: 1px solid #ccc;
    border-radius: 4px;
    height: 200px;
    background: #fff;
    width: 96%;
    overflow: auto;
    display: block;
    resize:none;
    margin:0 auto;
}
.select-con-wrap .subtract,.select-con-wrap .add{
	display:inline-block;
	width:25px;
	height:25px;
	vertical-align:middle;
}
.select-con-wrap .subtract{
	background:url(images/jiangreen.png) no-repeat center center;
	background-size:100% 100%;
}
.select-con-wrap .add{
	background:url(images/jiagreen.png) no-repeat center center;
	background-size:100% 100%;
}
.select-con-wrap h5{
	display:inline-block;
	text-align:center;
	margin-top:100px;
}
.select-con-wrap h5 span{
	padding:0 5px;
	border:1px solid #ccc;
	border-radius:3px;
	display:inline-block;
	width:25px;
	height:25px;
	line-height:25px;
	vertical-align: middle;
	margin:0 5px;
}
.select-con-wrap .require-con ul li{
	width:43%;
	float:left;
	border-radius:3px;
	background:#CAD42D;
	margin-left:8px;
	margin-top:8px;
	margin-bottom:8px;
	color: #000;
    padding: 8px 0;
    text-align: center;
	
}
.ed-con-con .active{
	background:red;
}
.ed-con-con span{
	margin:5px;
}
.edit-add-con .x-panel-top .ed-con-con  ul{
	width:100%;
}
.edit-add-con .x-panel-top .ed-con-con  ul li{
	float:left;
	margin:5px;
}
.edit-add-con .x-panel-top .ed-con-con  ul li div{
	display:block;
	padding:5px;
}
.edit-add-con .x-panel-top .ed-con-con  ul li.active{
	background:#F35526;
	color:#fff;
	border-radius:3px;
}
.order-info-title span{
	font-size:16px;
}
ul.menu-item li{
	text-align:center;
	padding:5px 0;
	color:#fff;
}
.edit-add-con .select-con .select-menu{
	padding:10px 0;
	width:100%;
	overflow:auto;
	display:block;
}
.edit-add-con .select-con .select-menu .select-menu-wrap{
	display:block;
	width:1200px;/*先定一个*/
}
.select-con .select-menu a{
	padding:5px 8px;
	background:#ccc;
	border-radius:3px;
	margin:0 5px;
	display:block;
	float:left;
}
/*登录*/
.login-wrap{
	text-align:center;
	padding-top:20px;
}
.big-title{
	margin-bottom:20px;
}
.login-wrap .btn{
	width:100%;
	color:#fff;
	border:none;
}
.login-wrap .btn-login{
	background:#2BB8AA;
}
.login-wrap .btn-exit{
	background:#E5642A;
}
.login-wrap .x-label30.x-label-edit .x-label{
	width:25%;
}
.login-wrap .x-label30.x-label-edit .x-edit{
	width:75%;
}
/*输入人数框*/
.renShu .con-wrap,.take .con-wrap{
	background:#fff;
	padding:20px 0;
	box-shadow:0 0px 2px 2px #B9B9B9;
	border-radius:5px;
}
.take .con-wrap{
	width:186px;
	
}
.renShu .con-wrap .btn-wrap,.take .con-wrap .btn-wrap{
	border-top:1px solid #ccc;
	padding-top:10px;
}
.renShu .con-wrap .con-con h2,.take .con-wrap .con-con h2{
	font-size:16px;
	color:#000;
	text-align:center;
}
.renShu .con-wrap .con-con input,.take .con-wrap .con-con .x-label-edit{
	margin:5px auto;
	width:95%;
}
.renShu .con-wrap .con-con, .take .con-wrap .con-con{
	text-align:center;
}
.renShu .con-wrap .con-con .btn-wrap, .take .con-wrap .con-con .btn-wrap{
	text-align:center;
}
.renShu .con-wrap .con-con .btn, .take .con-wrap .con-con .btn{
	border:none;
	width:45%;
}
.do-btn{
	color:#fff;
	background:#39BE1B;
}
.undo-btn{
	color:#fff;
	background:#F35526;
}
.renShu .con-wrap .pop-title,.take .con-wrap .pop-title{
	padding:0 10px;
}
.number .num{
	display:inline-block;
	margin:0 8px;
}
.edit-add-bottom{
	line-height:48px;
	padding:0 15px;
}
.edit-add-bottom .btn{
	color:#fff;
	background:#2BB8AA;
	border:none;
}
.edit-add-bottom .x-orange{
	color: #ffffff;
    background-color: #df691a;
    border-color: #df691a;
}
.require-title-wrap ul{
	margin:8px 0;
}
.require-title{
	overflow:auto;
}
.require-title .row{
	margin:0;
}
.require-title ul div{
	text-align:center;
	padding:2px;
}
.require-title ul div span{
	background:#2BB8AA;
	border-radius:3px;
	color:#fff;
	text-align:center;
	padding:5px 2px;
	display:block;
	margin:0 auto;
}
.showCookWays span{
	background:#2BB8AA;
	color:#fff;
	border-radius:3px;
}
.showCookWays li.active{
	background:red;
	color:#fff;
}
/*更多菜单*/
.more-wrap{
	position:fixed;
	bottom:48px;
	background:#fff;
	width:100%;
	display:none;
}
.more-wrap .row {
	margin:0;
}
.more-wrap .row .col{
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}
.more-wrap .row .col .btn{
	background:#2BB8AA;
	color:#fff;
	border:none;
	width:100%;
}
.more-wrap .row div.active a.btn{
	background:#00CC66;
}
.have-wrap h3{
	text-align:center;
}
.have-wrap table tr td:nth-child(1){
	width:30%;
}
.order-info-title{
	height-line:48px;
}
.order-info-title h3,.order-info-wrap h3{
	text-align:center;
}
.order-info-wrap p{
	text-align:center;
}
.order-info-wrap .row{
	margin:0;
}
.order-info-button{
	text-align:right;
	height-line:48px;
	padding:0 10px;
}
.main-con  ul{
	margin-bottom:0px;
}
.box-style{
	box-shadow:0 0px 2px 2px #c9B9B9;
}
.box-style .x-popOver-content{
	width:95%;height:96%;
}
.box-style .x-popOver-content .pop-wrap{
	height:94%;
}
.login-bottom {
	line-height:48px;
	/*padding:0 20px;*/
}
.login-bottom .row .col{
	padding:0;
}
.login-bottom .row .col-xs-7{
	width:64%;
}
.bottom-copy{
	display:inline-block;
	padding:0 5px;
}
.settings .x-panel-bottom{
	line-height:48px;
	text-align:right;
	padding:0 20px;
}
.box-style .x-popOver-content{
	    box-shadow: 0 0px 2px 2px rgb(201, 185, 185);
}
.box-style .x-titlebar{
	border-radius:4px 4px 0 0;
}
.login-check{
	margin-top:10px;
}
.login-check .row{
	margin:0;
}
.login-check .row .col{
	text-align:center;
}
/*搜索菜名*/
.menu-search .x-panel-top{
	/*line-height:48px;*/
}
.menu-search .x-panel-top .row .col{
	line-height:48px;
	height:48px;
}
.menu-search .x-panel-top .row .col input{
	margin-top:6px;
}
.menu-search .row{
	margin:0;
}
.menu-search .goodsList .row .col{
	text-align:center;
	margin:5px 0;
	padding:0 5px;
}
.menu-search .goodsList .row .col span{
	display:block;
	background:rgb(43, 184, 170);
	border-radius:3px;
	padding:6px 0;
	color:#fff;
}
.info-table th{
	padding:0;
}
#rememberPwd,#autoLogin{
	width:18px;
	height:18px;
	display:inline-block;
	vertical-align:middle;
	margin:0;
}
.login-check label{
	margin:0;
	vertical-align:middle;
}
.order-info-all-btn{
	font-weight:bold;
}
.login-error-info{
	display:none;
	color:red;
	font-size:14px;
}
.order-info-title-btn .btn{
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.settings-btn{
	margin-top:20px;
}
.settings-btn .btn{
	width:100%;
}


.back-btn{
	padding:8px 18px;
	color: #fff;
    background-color: #dd5600;
    border-color: #dd5600;
}
.menu-title-wrap{
	display:box;
	display:-webkit-box;
	background: rgb(43, 184, 170);
    color: rgb(255, 255, 255);
}
.menu-title{
	box-flex:1.0;
	-webkit-box-flex:1.0;
	text-align:center;
	text-align:center;
}
.menu-title h5{
	margin:0;
	line-height:48px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
}
.menu-all{
	box-flex:2.0;
	-webkit-box-flex:2.0;
	text-align:center;
	line-height:48px;
}
.count-radius-parent{
	position:relative;
}
.menu-search .goodsList .row .col span.count-radius{
	position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    border: 1px dashed rgb(255, 255, 255);
    padding: 0;
    top: 5px;
    right: 5px;
    color: rgb(255, 0, 0);
    background:#fff;
	
}
.have-wrap .have-con .top-border,.order-info-con .top-border{
	border-top:1px solid #ccc;
}
.have-wrap .have-con  .row,.order-info-con .row{
	border-bottom:1px solid #ccc;
}
.have-wrap .have-con  .row .col{
	height:35px;
	line-height:35px;
}
.have-wrap .have-con  .row .col:nth-child(1){
	border-right:1px solid #ccc;
}
.have-wrap .have-con  .row .col-xs-4:nth-child(2){
	border-right:1px solid #ccc;
}
.order-info-con .row .col{
	padding:0;
	height:35px;
	line-height:35px;
	text-align:center;
}
.order-info-con .row .col-xs-6{
	border-right:1px solid #ccc;
}
.order-info-con .row .col-xs-3{
	border-right:1px solid #ccc;
}
	
/*iphone4 iphone5 小于320px*/
@media screen and (max-width:320px){
	/*台变成3个一排*/
	.main-con.cyUb2Ir ul.cyUb2Ir li.cyUb2Ir{
		display:block;
		float:left;
		width:29%;
		/*margin:2%;*/
	}
	.close-btn.cyUb2Ir, .close-btn.cyUb2Ir:hover{
		background:#E5642A;
		border:none;
		color:#fff;
		padding-left:20px;
		padding-right:20px;
	}
	.login-bottom .p30{
		padding-left:10px;
		padding-right:10px;
	}
}