/*语言设置*/
.row{
	margin:0;
}
.lang-btn{
	margin-top:20px;
}
.lang-btn .btn{
	width:100%;
}
.lang-wrap{
	padding:20px 0;
}
.x-titlebar {
    background: #2BB8AA;
    color: #fff;
}
.btn-style{
	background:rgb(43, 184, 170);
	color:#fff;
	border:rgb(43, 184, 170);
}
.w100{
	width:100%;
}
.w100 .col .btn{
	width:100%;	
}
.w100 .col{
	padding:0 10px;
}